.csv-export-button {
  display: inline-block;
  background: linear-gradient(135deg, #1183e7 0%, #07aab3 100%);
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-weight: 600;
  font-size: 14px;
  cursor: pointer;
  margin-bottom: 20px;
  transition: all 0.3s ease;
  box-shadow: 0 4px 15px rgba(79, 172, 254, 0.3);
  position: relative;
  overflow: hidden;
  &:hover {
    transform: translateY(-2px);
    box-shadow: 0 8px 25px rgba(79, 172, 254, 0.4);
  }
  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
}

.csv-modal {
  position: fixed;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  height: 300px;
  background: linear-gradient(135deg, #10273c 0%, #092425 100%);
  border-radius: 10px;
  padding: 20px;
  z-index: 99999;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
  }
  &-trigger {
    border: none;
    cursor: pointer;
  }
  &-input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #4facfe;
    margin-bottom: 20px;
  }
  &-label {
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 10px;
  }
  &-close {
    background: white;
    border: 1px solid #4facfe;
    border-radius: 5px;
    color: crimson;
    cursor: pointer;
    font-size: 14px;
    font-weight: 600;
    padding: 10px 20px;
    &:disabled {
      opacity: 0.5;
      cursor: not-allowed;
    }
  }
}
